.container{
  width: 60%;
  /* background: red; */
  /* height: 100vh; */
  min-width: 280px;
  border: 2px solid grey;
  padding: 5px;
  border-radius: 10px;
  /* min-width: 300px; */
}

.container span{
  width: 90%;
  min-width: 48px;
}

.container h1{
  text-align: left;
  margin: 10px 0 30px 20px;
}
.container h2{
  text-align: left;
  margin: 10px 0 30px 20px;
}

.dietContainer{
  text-align: left;
  border: 2px solid grey;
  padding: 10px 20px;
  margin: 40px 15px;
  height: auto;
}
.dietContainer hr{
  width: 100%;
  border: 3px solid black;
}
.dietContainer h3{
  display: flex;
  justify-content: space-between;
}
.dietContainer h3 button{
  width: 50px;
  border: 0;
}


.pageSelector{
  position: sticky;
  bottom: 0;
  background: rgb(0,0,0,0.4);
  padding: 20px;
  border-radius: 10px;
  width: 80%;

}

.Link{
  width: 60%;
  min-width: 100px;
}

.thin{
  border: 1px solid black;
}

.btnn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.btnn span{
  font-size: 20px;
  font-weight: bold;
}
.colm{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
















